.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}
.card{
    text-align: center;
    margin: 4%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 8px;
}
.card-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10px;
}
.card-bottom .price-text{
margin-top: 0%;
}
.product-text{
    margin-top: 25px;
    text-align: center;
}
#cart-btn {
    background-color: #393e46;
    color: #ffffff;
    width: 195px;
    padding: 6px;
    justify-self: center;
    border-radius: 6px;
    border: 0px;
    align-self: center;
  }
  #fav-btn {
    background-color: #00Adb5;
    color: #ffffff;
    width: 195px;
    padding: 6px;
    justify-self: center;
    border-radius: 6px;
    border: 0px;
    align-self: center;
  } 