/* Cart Styling Start */
.parent {
    display: grid;
    justify-content: center;
    margin: 10% 0;
  }

#heading {
    font-size: 16px;
    margin: 5px;
  }

.summary_card {
    background-color: #fff;
    width: 750px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
  }

/* Cart Styling End */

/* Favorite Styling Start */

.root {
  display: grid;
  justify-content: center;
  margin: 10% 0;
}

#header {
  font-size: 16px;
  margin: 5px;
}

/* Favorite Styling End */

.p_Users{
  border-top: 2px solid black;
  text-align: center;
}
.p2_Users{
  text-align: center;
}

.div_Users{
  border: 5px solid black;
  margin: 4%;
  border-radius: 10px 10px 10px 10px;
}
.h1_h{
  text-align: center;
  margin: 4%;

}
.btn{
  width: 100%;
  border-radius: 0px 0px 0px 0px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.form_add_user{
  margin: 3%;
}
