body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.p_Users{
    border-top: 2px solid black;
    text-align: center;
}
.p2_Users{
    text-align: center;
}

.div_Users{
    border: 5px solid black;
    margin: 4%;
    border-radius: 10px 10px 10px 10px;
}
.h1_h{
    text-align: center;
    margin: 4%;

}
.btn{
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.form_add_user{
    margin: 3%;
}
